name: Build KeyCastOW

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build-on-cloud:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    # 【关键修改】
    # 添加了 /p:PlatformToolset=v143 参数
    # 强制使用 VS2022 的编译器，忽略项目原本要求的 VS2013
    - name: Build
      run: msbuild keycastow.vcxproj /p:platform=win32 /p:Configuration=Release /p:PlatformToolset=v143

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: KeyCastOW-Release
        path: |
          **/Release/*.exe
          **/Release/*.dll
